
<!DOCTYPE html SYSTEM>
<html lang="en">
<head>
<title>bbbHome - Home Page | Hosting - Free Website Template from Templates.com</title>
<meta name="description" content="Place your description here" />
<meta name="keywords" content="put, your, keyword, here" />
<meta name="author" content="Templates.com - website templates provider" />
<meta charset="utf-8" />
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css" media="all" />


</head>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

